<h1>Appointments</h1>

<%= render 'metrics' %>


<%= link_to 'New Appointment', new_appointment_path, class: 'btn btn-primary mb-3' %>
<hr>
<%= form_with(url: appointments_path, method: :get, local: true, class: "mb-4 d-flex align-items-center  float-end") do %>
  <div class="me-2">
    <%= label_tag :start_date, "Start Date", class: "form-label" %>
    <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
  </div>

  <div class="me-2">
    <%= label_tag :end_date, "End Date", class: "form-label" %>
    <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
  </div>

  <div class="me-2 mt-4">
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>User</th>
      <th>Client</th>
      <th>Location</th>
      <th>Scheduled At</th>
      <th>Ends At</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to "#{appointment.code}", appointment, class: '' %></td>
        <td><%= appointment.user.name %></td>
        <td><%= appointment.client.full_name %></td>
        <td><%= appointment.location.name %></td>
        <td><%= l(appointment.scheduled_at, format: :long) %></td>
        <td>
          <% if appointment.ends_at %>
            <%= l(appointment.ends_at, format: :long) %></td>
          <% end %>
        <td><%= appointment.status %></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Show', appointment, class:"dropdown-item" %>
              </li>
              <li>
                <%= link_to 'Edit', edit_appointment_path(appointment), class:"dropdown-item" %>
              </li>
              <li>
                <%= link_to 'Delete', appointment_path(appointment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the appointment?" }, class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>