<%= form_with(model: @location, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <h3>Addresses</h3>
  
  <div data-controller="nested-address-form">
    <div data-nested-address-form-target="container">
      <%= form.fields_for :addresses do |address_form| %>
        <%= render "addresses/form_fields", f: address_form %>
      <% end %>
    </div>

    <button type="button" class="btn btn-primary mt-2" data-action="nested-address-form#add">
      Add Address
    </button>

    <template id="address-template">
      <%= form.fields_for :addresses, Address.new, child_index: "TEMPLATE_RECORD" do |address_form| %>
        <%= render "addresses/form_fields", f: address_form %>
      <% end %>
    </template>
  </div>

  <%= form.submit class: 'btn btn-success' %>
<% end %>
